- if (planid) 
  p
    | Ok, we're almost ready to go! Share this link with anybody
    | with whom you'd like to plan your week. Click the link 
    | to get started.
  p 
    a(href = '/' + planid ) 
      | http://whatsfordinner.com/#{ planid }
- else
  .start_planning
    p
      | To get started, click to generate a new
      | planner for your week. You will get a link
      | to share.
    form(method: 'post', action='/')
      input(type: 'submit', value: 'Start Planning!')  

