!!! 5
html
  head
    title What&apos;s For Dinner?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 What's for Dinner?
      p A tool to help you plan out what you're going to eat this week.
    section#main!= body