section#meal_section
  h2 Meals
  form(method: 'post', action: '/' + planid).meal_entry
    input(type: 'submit', value: 'update').meal_update
    section.meal_wrapper
      section.meal_day
        h3 Monday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')
      section.meal_day
        h3 Tuesday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')  
      br
    section.meal_wrapper
      section.meal_day
        h3 Wednesday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')  
      section.meal_day
        h3 Thursday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')  
      section.meal_day
        h3 Friday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')  
      br
    section.meal_wrapper
      section.meal_day
        h3 Saturday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')  
      section.meal_day
        h3 Sunday
        input(type: 'text', placeholder: 'Dish')
        br
        textarea(placeholder: 'Ingredients')  
      br
  section#ingredients
    h2 Shopping List
    section.ingredients_section
      h3 Produce
      textarea
    section.ingredients_section
      h3 Meat
      textarea
    section.ingredients_section
      h3 Frozen
      textarea
    section.ingredients_section
      h3 Dairy
      textarea
    section.ingredients_section
      h3 Canned
      textarea
    section.ingredients_section
      h3 Miscellaneous
      textarea
      
  br(style: 'clear: both')